body {
  font-family: 'Yu Mincho', 'Noto Serif JP', 'MS Mincho', serif;
  background: #fdf6ec;
  margin: 0;
  padding: 0;
}

header{
  background-color: #71A95A;
  padding: 15px;
}

header p{
  font-weight: 500;
  font-size: 30px;
  /* padding: 0; */
  margin: 0;
  margin-left: 15px;
}

h1 {
  color: #333;
  text-align: center;
}
.container {
  display: flex;
  min-height: 100vh;
}
.left {
  flex: 1;
  background: #fdf6ec;
  border-right: 1px solid #ddd;
  padding: 10px;
}
.center {
  flex: 2;
  padding: 20px;
  text-align: center;
}
.right {
  flex: 1;
  background: #fffaf0;
  border-left: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
}

/* test */
.rightheader{
  display: flex;
  justify-content: space-around;
}
/* test */

canvas {
  border: 2px dashed #aaa;
  background: white;
  cursor: crosshair;
  margin-top: 10px;
}
button {
  margin: 10px 5px;
  padding: 10px 20px;
  background-color: #f39c12;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
button:hover {
  background-color: #d68910;
}
#result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
#meaningBox {
  margin-top: 10px;
  font-size: 18px;
  color: #444;
  font-weight: bold;
}
#readingBox {
  margin-top: 5px;
  font-size: 16px;
  color: #555;
}
/* Bảng Kanji bên phải */
.kanji-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 5px;
  margin-top: 10px;
}
.kanji-cell {
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}
.kanji-cell:hover {
  background: #ffe4b5;
}
footer{
  background-color: #323232;
  padding: 30px;
}
footer p{
  font-size: large;
  color: #fdf6ec;
  margin: 0;
}